<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="card mt-3">
        <div class="card-header">
            <h2>Cadastro de produto</h2>
        </div>
        <div class="card-body">
            <form action="/produtos/cadastrar" method="post">
                <input type="text" name="name" id="name" placeholder="Nome do produto..." class="form-control mb-3">
                <input type="text" name="category" id="category" placeholder="Defina uma categoria..." class="form-control mb-3">
                <input type="number" name="amount" id="amount" placeholder="Quantidade" class="form-control mb-3">
                <input type="number" name="price" id="price" placeholder="Valor Unitário (R$)" class="form-control mb-3">

                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>