body {
    font: 12pt 'Ubuntu';
    background-color: #585858;
}

h2 {
    margin-top: 0px;
    text-align: center;
    background-color: #e07f3e;
    padding: 10px;
}

.container {
    border: 3px solid #585858;
    box-shadow: 0px 0px 5px #000000;
    border-radius: 10px;
    background-color: #fff;
    width: fit-content;
    margin: auto;
    padding: 15px;
}

#div-border-radius {
    background-color: #e05d5d;
    width: 300px;
    max-width: 1000px;
    height: 300px;
    max-height: 450px;
    margin: 15px auto auto auto;
    border-radius: initial;
}

#form-border-radius input {
    width: 160px;
    height: 30px;
    padding: 3px;
    font-size: 13pt;
}

#cor {
    position: relative;
    left: calc(50% - 85.5px);
}